{% extends 'base/base.html' %}
{% block content %}
<title>Signup</title>
<body class>
<div class="container">
 <h1> Event Signup Page</h1>
{% if submitted %}
    <p class="success">
        Signedup Successfully. Thank you.
    </p>

{% else %}
     <form action="" method="post" novalidate>
      <table class= "table-hover table-sm">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
      </table>
     {% csrf_token %}
    </form>
  </div>  
</body>
{% endif %}
{% endblock content %}